.project {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 30px;
}

.project .projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project .projects ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.project .projects ul li {
  background: #fff;
  color: #000;
  padding: 4px;
  border: 5px;
}
.project .project img {
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .project .projects h1 {
    font-size: 30px;
  }
  .project .projects h3 {
    font-size: 25px;
  }
}
@media (max-width: 375px) {
  .project .projects h1 {
    font-size: 25px;
  }
  .project .projects h3 {
    font-size: 20px;
  }
  .project .projects ul li {
    font-size: 15px;
    padding: 2px;
  }
}
