.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.home .home-text h1 {
  font-size: 60px;
}
.home .home-text p {
  font-size: 40px;
}
.home .home-text .btn {
  border: 0;
  outline: 0;
  width: 160px;
  border-radius: 40px;
  font-size: 20px;
  height: 40px;
  background: #fff;
  color: #000;
}
@media (max-width: 768px) {
  .home .home-text h1 {
    font-size: 35px;
  }
  .home .home-text p {
    font-size: 30px;
  }
  .home .home-text .btn {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .home .home-text h1 {
    font-size: 25px;
  }
  .home .home-text p {
    font-size: 20px;
  }
  .home .home-text .btn {
    font-size: 12px;
  }
}
