.contact {
  margin: 100px 0px;
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 30px 0px;
  /* background: #fff; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  gap: 25px;
}
.contact div {
  display: flex;
  gap: 15px;
  border-radius: 10px;
}
.contact div a {
  text-decoration: none;
  padding: 10px 5px;
}
.contact div a h3 {
  color: #fff;
}
.contact .copy {
  padding: 8px;
}

@media (max-width: 375px) {
  .contact div a {
    font-size: 12px;
  }
}
