nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-left h1 {
  font-size: 40px;
  text-transform: uppercase;
}
nav .nav-center ul {
  display: flex;
  gap: 20px;
  font-size: 24px;
  list-style: none;
}
nav .nav-center ul a {
  text-decoration: none;
}
nav .nav-center ul .active {
  padding-bottom: 3px;
  border-bottom: 3px solid #fff;
}

nav .nav-right img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: 4px solid #fff;
}
/*media query*/
@media (max-width: 768px) {
  nav .nav-left h1 {
    font-size: 25px;
  }
  nav .nav-center ul {
    font-size: 18px;
  }
  nav .nav-right {
    display: none;
  }
}

@media (max-width: 375px) {
  nav {
    gap: 8px;
  }
  nav .nav-left h1 {
    font-size: 18px;
    text-align: center;
  }
  nav .nav-center ul {
    font-size: 12px;
    gap: 10px;
  }
}
