@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

*{
  font-weight: bold;
  font-family: sans-serif;
  color:#fff;
  background:#000;
  box-sizing: border-box;
}

@theme{
   
}